<!DOCTYPE html>
<html>
  <head>
    <title>ScoutDots</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application", media: "all" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
