<!DOCTYPE html>
<html>
  <head>
    <title>ScoutDots</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'scenes/index' %>
    <%= stylesheet_pack_tag 'scenes/styles' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
